In [10]:
import streamlit as st
import pandas as pd
import geopandas as gpd
import numpy as np
import pydeck as pdk

In [11]:
print("Welcome to pydeck version", pdk.__version__)

Welcome to pydeck version 0.6.1

In [12]:
ACTS_DATA = "../data/activities.geojson"
acts = gpd.read_file(ACTS_DATA)
acts.shape

(83426, 19)

In [13]:
acts = acts.to_crs(epsg=4326)

In [14]:
acts.head()

,TRIPID,PERSID,HHID,TRIPNO,ActLocation,ActLocationType,ActType,ActStartTime,ActEndTime,ActDuration,LGA_CODE20,LGA_NAME20,STE_CODE16,STE_NAME16,AREASQKM20,lon,lat,datetime,geometry
0,Y12H0000101P01T01,Y12H0000101P01,Y12H0000101,1,Whittlesea (C),Workplace,Work,545,1050.0,505.0,27070,Whittlesea (C),2,Victoria,489.6939,145.200356,-37.519971,2021-03-31T09:05:00,POINT (145.20036 -37.51997)
1,Y12H0000101P02T02,Y12H0000101P02,Y12H0000101,2,Whittlesea (C),Shops,Shop,550,600.0,50.0,27070,Whittlesea (C),2,Victoria,489.6939,145.096941,-37.452277,2021-03-31T09:10:00,POINT (145.09694 -37.45228)
2,Y12H0000101P02T03,Y12H0000101P02,Y12H0000101,3,Whittlesea (C),Accommodation,Home,610,890.0,280.0,27070,Whittlesea (C),2,Victoria,489.6939,145.129261,-37.600845,2021-03-31T10:10:00,POINT (145.12926 -37.60085)
3,Y12H0000101P03T01,Y12H0000101P03,Y12H0000101,1,Whittlesea (C),Place of Education,Study,520,940.0,420.0,27070,Whittlesea (C),2,Victoria,489.6939,145.165656,-37.500183,2021-03-31T08:40:00,POINT (145.16566 -37.50018)
4,Y12H0000101P04T01,Y12H0000101P04,Y12H0000101,1,Whittlesea (C),Place of Education,Study,520,940.0,420.0,27070,Whittlesea (C),2,Victoria,489.6939,145.014202,-37.610771,2021-03-31T08:40:00,POINT (145.01420 -37.61077)

In [15]:
view = pdk.ViewState(latitude=-37.7989, longitude=144.9591, pitch=50, zoom=7)
layers = [
        pdk.Layer(
            'HexagonLayer',
            acts,
            get_position="geometry.coordinates",
            auto_highlight=True,
            elevation_scale=50,
            pickable=True,
            elevation_range=[0, 3000],
            extruded=True,                 
            coverage=1)
        ]

r = pdk.Deck(layers, initial_view_state=view)

In [16]:
# Render map
# r.to_html("melbourne_activities.html")

In [17]:
acts.head()

,TRIPID,PERSID,HHID,TRIPNO,ActLocation,ActLocationType,ActType,ActStartTime,ActEndTime,ActDuration,LGA_CODE20,LGA_NAME20,STE_CODE16,STE_NAME16,AREASQKM20,lon,lat,datetime,geometry
0,Y12H0000101P01T01,Y12H0000101P01,Y12H0000101,1,Whittlesea (C),Workplace,Work,545,1050.0,505.0,27070,Whittlesea (C),2,Victoria,489.6939,145.200356,-37.519971,2021-03-31T09:05:00,POINT (145.20036 -37.51997)
1,Y12H0000101P02T02,Y12H0000101P02,Y12H0000101,2,Whittlesea (C),Shops,Shop,550,600.0,50.0,27070,Whittlesea (C),2,Victoria,489.6939,145.096941,-37.452277,2021-03-31T09:10:00,POINT (145.09694 -37.45228)
2,Y12H0000101P02T03,Y12H0000101P02,Y12H0000101,3,Whittlesea (C),Accommodation,Home,610,890.0,280.0,27070,Whittlesea (C),2,Victoria,489.6939,145.129261,-37.600845,2021-03-31T10:10:00,POINT (145.12926 -37.60085)
3,Y12H0000101P03T01,Y12H0000101P03,Y12H0000101,1,Whittlesea (C),Place of Education,Study,520,940.0,420.0,27070,Whittlesea (C),2,Victoria,489.6939,145.165656,-37.500183,2021-03-31T08:40:00,POINT (145.16566 -37.50018)
4,Y12H0000101P04T01,Y12H0000101P04,Y12H0000101,1,Whittlesea (C),Place of Education,Study,520,940.0,420.0,27070,Whittlesea (C),2,Victoria,489.6939,145.014202,-37.610771,2021-03-31T08:40:00,POINT (145.01420 -37.61077)